@mixin overlay{
  position: relative;
  z-index: 1;
  .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.54);
    z-index: -1;
  }
}

@mixin prefixes($prop,$val){
  -moz-#{$prop}: $val;
  -o-#{$prop}: $val;
  -ms-#{$prop}: $val;
  -webkit-#{$prop}: $val;
}