$bgColor-1: rgb(255, 230, 0);
$bgColor-2: #1c1c1c;
$bgColor-3: rgb(244, 244, 244);
$TextHeadColor: rgb(143, 143, 143);
$TextColor: #838383;


$MaxSmallScreen: 577px;
$MinSmallScreen: 578px;
$MinMediumScreen: 992px;
$MinLargeScreen: 1200px;

$grid_division: 12;
