:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color-1:#{$bgColor-1};
    --bg-color-2:#{$bgColor-2};
    --bg-color-3:#{$bgColor-3};
    --text-head-color:#{$TextHeadColor};
    --text-color:#{$TextColor};
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    height: 3000px;
}

h1, h2 {
    letter-spacing: 14px;
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

p {
    line-height: 2.2;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-head {
    @extend .container-flex;

    margin-top: 100px;
    flex-direction: column;
    margin-bottom: 60px;

    img {
        font-size: 30px;
    }

    h2 {
        font-weight: 300;
    }
}
